@import "tailwindcss";

/* Hide scrollbar utility */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0 !important;
}